header {

  // background-color: ;
  padding: 16px 0;

  .header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header__logo {

  }

  .header__nav {
    
  }

  .nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .nav__link {
    color: #121212;
  }

  .header__icons {

  }

  .header__icon {

  }

  .header__icon-number {

  }
  
}
.container {
}

