.cart__container{
  max-width: 413px;
  width: 100%;
  margin: auto;
  padding: 16px 48px;
}

.cart{
  margin: 100px 0 0;
}

.cart__title{
  font-family: var(--font-poppins);
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.6px;

  margin-bottom: 16px;
}

.cart__item{
  display: flex;
}

.cart-img{
  max-width: 80px;
  max-height: 96px;
}

.cart__item-info{
  display: flex;
  justify-content: space-between;
}