@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Six+Caps&family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Six+Caps&family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Six+Caps&family=Space+Grotesk:wght@300..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-header: "Space Grotesk", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

a, a:link, a:visited {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* Container & Button Default*/
.container {
  max-width: 1184px;
  padding: 0 32px;
  margin: auto;
  width: 100%;
}

.btn {
  display: inline-block;
  padding: 12px 56px;
  max-width: 234px;
  width: 100%;
  color: #fff;
  text-decoration: none;
  font-family: var(--font-inter);
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.4px;
  background-color: #121212;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.btn--small {
  font-family: var(--font-inter);
  padding: 9px 40px;
  font-size: 16px;
  line-height: 28px;
}
.btn--wide {
  max-width: 230px;
  width: 100%;
}

header {
  padding: 16px 0;
  background-image: url("/WebDiploma/src/img/wp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
header::after {
  content: "";
  position: absolute;
  top: 158%;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  margin-top: -109px;
}
header .header__wrapper--burgerlogo {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
header .header__burger {
  display: none;
}
@media (max-width: 930px) {
  header .header__burger {
    display: flex;
    align-items: center;
  }
}
header .header__logo .logo {
  font-family: "Six Caps", sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 28px;
}
@media (max-width: 930px) {
  header .header__nav {
    display: none;
  }
}
header .nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-family: var(--font-header);
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}
header .nav__link {
  color: #fff;
  position: relative;
  padding: 0 10px;
}
header .nav__link::after {
  content: "";
  height: 3px;
  background-color: #fff;
  box-shadow: 0px 0px 15px 0px #fff;
  position: absolute;
  width: 0;
  left: 0;
  bottom: -23px;
  transition: 0.3s linear;
}
header .nav__link:hover {
  color: #fff;
}
header .nav__link:hover::after {
  width: 100%;
}
header .header__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
header .header__icon {
  display: flex;
  align-items: center;
  gap: 5px;
}
@media (max-width: 930px) {
  header .header__icon {
    display: none;
  }
}
header .header__icon--cart {
  display: flex;
  align-items: center;
  gap: 5px;
}
header .header__icon-number {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #FC6383;
  color: #121212;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  font-family: var(--font-header);
}

.banner {
  background-image: url("/WebDiploma/src/img/wp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 220px 0 220px;
  margin-bottom: 48px;
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.banner .banner__wrapper {
  max-width: 538px;
  position: relative;
}
@media (max-width: 768px) {
  .banner .banner__wrapper {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
}
.banner .banner__title {
  font-family: "Poppins", sans-serif;
  font-size: 80px;
  font-weight: 500;
  line-height: 84px;
  letter-spacing: -3px;
  color: #fff;
  margin-bottom: 8px;
}
@media (max-width: 768px) {
  .banner .banner__title {
    font-size: 64px;
    line-height: 68px;
  }
}
@media (max-width: 460px) {
  .banner .banner__title {
    font-size: 40px;
    line-height: 44px;
    padding: 0 28px;
  }
}
.banner .banner__title .amazing {
  color: #FC6383;
}
.banner .banner__description {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 28px;
  color: rgba(255, 255, 255, 0.6392156863);
}
@media (max-width: 460px) {
  .banner .banner__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }
}
.banner .banner__button {
  max-width: 234px;
  width: 100%;
  padding: 12px 56px;
  gap: 8px;
  border-radius: 8px;
  background-color: #FC6383;
  color: inherit;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.4px;
  transition: all 0.2s ease-in;
}
.banner .banner__button:hover {
  background-color: #df5472;
  color: #fff;
}
@media (max-width: 460px) {
  .banner .banner__button {
    font-size: 14px;
    line-height: 24px;
    max-width: 210px;
    width: 100%;
    color: #fff;
  }
}

.bestseller {
  padding-bottom: 100px;
}

.bestseller__title {
  margin: 48px 0 48px;
  font-family: var(--font-poppins);
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.4px;
}
@media (max-width: 768px) {
  .bestseller__title {
    font-size: 34px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: -0.6px;
    margin: 40px 0 16px;
    display: flex;
    justify-content: center;
  }
}

.bestseller__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(262px, 1fr));
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 48px;
}
@media (max-width: 768px) {
  .bestseller__wrapper {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    -moz-column-gap: 8px;
         column-gap: 8px;
    row-gap: 10px;
  }
}

.card {
  position: relative;
  display: grid;
  gap: 12px;
  max-width: 262px;
  width: 100%;
}
.card:hover .card__fave {
  transform: translateY(0%);
  opacity: 1;
  pointer-events: all;
}
.card:hover .card__btn {
  transform: translateY(0%);
  opacity: 1;
  pointer-events: all;
}

.card__pic {
  position: relative;
}

.card__new {
  position: absolute;
  top: 16px;
  left: 16px;
  padding: 4px 14px;
  background-color: #fff;
  border-radius: 4px;
  font-family: var(--font-inter);
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: var(--black);
  text-transform: uppercase;
}

.card__fave {
  position: absolute;
  top: 16px;
  right: 16px;
  transition: all 0.2s ease-in;
  opacity: 0;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: 10;
}

.card__link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.btn-fav {
  width: 32px;
  height: 32px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 8px 16px -8px rgba(15, 15, 15, 0.12);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in;
  z-index: 10;
  transition: all 0.2s ease-in;
}
.btn-fav svg {
  fill: #6C7275;
  transition: all 0.2s ease-in;
}
.btn-fav:hover svg {
  fill: #CD3030;
}
@media (max-width: 768px) {
  .btn-fav {
    display: none;
  }
}

.card__btn {
  position: absolute;
  left: 16px;
  bottom: 16px;
  right: 16px;
  transition: all 0.2s ease-in;
  opacity: 0;
  transform: translateY(50%);
  pointer-events: none;
}
@media (max-width: 768px) {
  .card__btn {
    display: none;
  }
}

.card__desc {
  display: grid;
  gap: 4px;
}

.card__rating {
  display: flex;
  align-items: center;
  gap: 2px;
}

.card__title {
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
}
@media (max-width: 768px) {
  .card__title--elipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
  }
}

.card__price {
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 20px;
}

.details-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  width: 80%;
}

.items {
  font-family: var(--font-poppins);
  background: #F3F5F7;
  border-radius: 8px;
  width: 120px;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 18px;
  height: 30px;
  overflow: hidden;
}

.items__control {
  width: 40px;
  cursor: pointer;
  transition: 0.2s ease-in;
  text-align: center;
}
.items__control:hover {
  background: #eb5a1e;
  color: #FFF;
}

.items__current {
  width: 40px;
}

.footer {
  padding-top: 80px;
  padding-bottom: 49px;
  background-color: #141718;
}
@media (max-width: 768px) {
  .footer {
    padding: 50px 0;
  }
}
@media (max-width: 460px) {
  .footer {
    padding: 48px 0;
  }
}
.footer .footer__wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer .footer__wrapper {
    display: grid;
    justify-content: center;
    gap: 40px;
  }
}
.footer .footer__content-left {
  display: flex;
  gap: 32px;
  /* position: relative; */
  align-items: center;
}
@media (max-width: 768px) {
  .footer .footer__content-left {
    justify-content: center;
  }
}
@media (max-width: 460px) {
  .footer .footer__content-left {
    display: grid;
    text-align: center;
    place-items: center;
    gap: 16px;
  }
}
.footer .footer__logo {
  display: flex;
}
.footer .footer__logo .logo {
  font-family: "Six Caps", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 24px;
}
@media (max-width: 460px) {
  .footer .footer__logo .logo {
    font-size: 40px;
    line-height: 44px;
  }
}
@media (max-width: 460px) {
  .footer .footer__logo {
    display: inline-block;
    text-align: center;
  }
}
.footer .footer__logo-img {
  display: block;
  color: #fff;
}
.footer .footer__vertical-line {
  border: 1px solid #6C7275;
  height: 100%;
  /* position: absolute; */
}
@media (max-width: 460px) {
  .footer .footer__vertical-line {
    max-width: 24px;
    width: 100%;
    height: 1px;
  }
}
.footer .footer__store {
  text-decoration: none;
  color: #E8ECEF;
  font-family: var(--font-inter);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.footer .footer__nav {
  display: flex;
  gap: 40px;
  list-style: none;
}
@media (max-width: 460px) {
  .footer .footer__nav {
    display: grid;
    text-align: center;
    gap: 32px;
  }
}
.footer .footer__nav-link {
  text-decoration: none;
  color: #E8ECEF;
  font-family: var(--font-inter);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.footer--bottom {
  padding-bottom: 32px;
  padding-top: 0px;
}
.footer--bottom .container__footer {
  border-top: 0.5px solid #6C7275;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer--bottom .container__footer {
    display: grid;
    gap: 32px;
    justify-content: center;
    padding: 24px 0;
  }
}
.footer--bottom .footer__content {
  display: flex;
  gap: 28px;
}
@media (max-width: 460px) {
  .footer--bottom .footer__content {
    display: grid;
    grid-template-areas: "3" "2" "1";
  }
}
.footer--bottom .footer__title {
  font-family: var(--font-poppins);
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #E8ECEF;
}
@media (max-width: 460px) {
  .footer--bottom .footer__title {
    grid-area: 2;
  }
}
.footer--bottom .footer__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}
.footer--bottom .footer__link {
  font-family: var(--font-poppins);
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  color: #FEFEFE;
  text-decoration: none;
}
@media (max-width: 768px) {
  .footer--bottom .footer__link {
    display: none;
  }
}
@media (max-width: 460px) {
  .footer--bottom .footer__link {
    display: flex;
  }
}
@media (max-width: 460px) {
  .footer--bottom .footer__icons {
    grid-area: 1;
  }
}
.footer--bottom .footer__nav-icons {
  display: flex;
  gap: 24px;
}
@media (max-width: 768px) {
  .footer--bottom .footer__nav-icons {
    justify-content: center;
  }
}

.card__title {
  margin: 20px 0;
  font-family: var(--font-inter);
  font-weight: 600;
}

.cart-empty {
  padding: 12px 20px;
  margin-bottom: 16px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #383d41;
  background-color: #e2e3e5;
  border-color: #d6d8db;
  font-family: var(--font-inter);
  font-weight: 300;
}

.cart__wrapper {
  display: flex;
  align-items: flex-start;
  padding-bottom: 15px;
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 15px;
}

.cart-item__top {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cart-item__img {
  max-width: 100px;
  height: auto;
}

.cart-item__title {
  font-family: var(--font-inter);
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.cart-item__details {
  display: flex;
  align-items: center;
  gap: 15px;
}

.price__currency {
  font-family: var(--font-inter);
  font-weight: 500;
}

p {
  font-family: var(--font-inter);
  font-weight: 500;
  line-height: 20px;
}

.delivery-cost {
  color: #3c3c3c;
}

.total-price,
.rouble {
  color: #121212;
}

.card-title {
  margin: 20px 0;
  font-family: var(--font-inter);
  font-weight: 600;
}

.form-group {
  margin-bottom: 20px;
}

.card-cart {
  margin: 100px auto 0;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 4px;
  padding: 0 30px;
  max-width: 500px;
  width: 100%;
}

.border-top {
  border-top: 1px solid #dee2e6;
}

.form-control {
  width: 100%;
  padding: 6px 12px;
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.bttn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 10px 12px;
  font-family: var(--font-inter);
  font-size: 16px;
  line-height: 16px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.bttn-primary {
  color: #fff;
  background-color: #141718;
  border-color: #141718;
}

.cart {
  position: fixed;
  top: 0;
  left: calc(100% - 500px);
  width: 500px;
  background-color: #fff;
  height: 100vh;
}/*# sourceMappingURL=main.css.map */